<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Talent Acquisition</title>

  <!-- CSS   -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/star-rating.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-toastr-2/dist/vue-toastr-2.min.css">

  <!-- Master CSS  -->
  <link rel="stylesheet" href="assets/css/master.css">

  <!-- JS  -->
  <script src="assets/js/vue.js"></script>
  <script src="https://unpkg.com/vue-toastr-2/dist/vue-toastr-2.js"></script>

</head>

<body>
  <div id="app" v-cloak>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="assets/images/logo.svg" alt="Talent" width="220px">
        </a>
        <div v-if="(landingPage || profileStatus || bookmarkpage)" class="field search__module">
          <div class="control has-icons-left has-icons-right">
            <input class="input is-small" type="text" placeholder="Search">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
        <div v-if="(landingPage || profileStatus || bookmarkpage)" class="navbar-burger burger" v-bind:class="{fixed:fixed}" @click.prevent="toggleMenuMobile" data-target="navMenuColordark-example">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div v-if="(landingPage || profileStatus || bookmarkpage)" class="avatar is-hidden-mobile">
          <a href="#" @click.prevent="profilePage"><img src="assets/images/tony.jpg" alt="Tony"></a>
        </div>
      </div>
      <div id="navMenuColordark-example" class="navbar-menu" v-show="mobileMenu">

        <div class="navbar-start" v-if="(landingPage || profileStatus || bookmarkpage)">
          <p class="menu-label">
            General
          </p>
          <a class="navbar-item" @click.prevent="loginNow" href="#"><i class="fa fa-list-ul fa-1" aria-hidden="true"></i>  Job listing</a>
          <a class="navbar-item" @click.prevent="profilePage" href="#"><i class="fa fa-user-circle" aria-hidden="true"></i>  Profile</a>
          <a class="navbar-item" @click.prevent="showBookmark" href="#"><i class="fa fa-bookmark fa-1" aria-hidden="true"></i>  Bookmarks</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="menu-label">
                Settings
              </p>
              <p class="control">
                <a class="button is-small" @click.prevent="toggleDir()">
                    <span class="icon">
                    <i class="fa fa-align-right" aria-hidden="true"></i>
                    </span>
                    <span>
                      Locale
                    </span>
                  </a>
              </p>

              <p class="control" v-if="(landingPage || profileStatus || bookmarkpage)">

                <a @click.prevent="logOutNow" class="button is-danger is-small" href="#">
                  <span class="icon">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                  </span>
                  <span>Logout</span>
                </a>

              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="columns">
      <div v-if="(landingPage || profileStatus || bookmarkpage)" class="column is-2 sidemenu is-hidden-mobile is-hidden-touch">
        <aside class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a @click.prevent="loginNow" href="#"><i class="fa fa-list-ul fa-1" aria-hidden="true"></i>  Job listing</a></li>
            <li><a @click.prevent="profilePage" href="#"><i class="fa fa-user-circle" aria-hidden="true"></i>  Profile</a></li>
            <li><a @click.prevent="showBookmark" href="#"><i class="fa fa-bookmark fa-1" aria-hidden="true"></i>  Bookmarks</a></li>
          </ul>
          <p class="menu-label">
            Settings
          </p>
          <ul class="menu-list">
            <li><a @click.prevent="toggleDir"><i class="fa fa-align-right fa-1" aria-hidden="true"></i> Locale(RTL)</a></li>
            <li><a @click.prevent="logOutNow"><i class="fa fa-sign-out fa-1" aria-hidden="true"></i> Logout</a></li>
          </ul>
        </aside>
      </div>
      <div class="column">
        <div v-bind:class="{rtl:rtl}">
          <transition name="slide-fade">
            <div id="loginComponent" v-if="loginStatus">
              <div class="columns is-centered">
                <div class="column is-12">
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                        Login
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        <div class="field">
                          <label class="label">Username</label>
                          <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="Text input" value="John Doe">
                            <span class="icon is-small is-left">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label">Email</label>
                          <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="Email input" value="hello@">
                            <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a href="#" class="card-footer-item" @click.prevent="loginNow"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                      <a href="#" class="card-footer-item"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign-up</a>
                    </footer>
                  </div>
                </div>
              </div>
            </div>
          </transition>

          <transition name="slide-fade">
            <div id="landingPageComponent" v-if="landingPage">
              <div v-for="(job,i) in jobsList" class="jobs columns is-centered" :key="job.id">
                <div class="column is-11">
                  <div class="columns">
                    <div class="column logo__container is-one-quarter">
                      <img class="company-logo" v-bind:src="job.logo" alt="">
                    </div>
                    <div class="column">
                      <h4 class="jobtitle">
                        {{job.name}}
                      </h4>
                      <p>{{job.excerpt}}</p>
                      <em class="company"><a @click.prevent>{{job.company}}</a></em>

                      <div class="actions">
                        <button type="button" name="button" class="button is-small" @click.prevent="showModalApply(job.id)"><i class="fa fa-smile-o" aria-hidden="true"></i> Apply</button>
                        <button type="button" name="button" class="button is-small" @click.prevent="showModalInquire(job.id)"><i class="fa fa-envelope" aria-hidden="true"></i> Inquire</button>
                        <button type="button" name="button" class="button is-small" @click.prevent="bookMark(i)"><i class="fa fa-heart" aria-hidden="true"></i></button>
                      </div>

                      <div class="rating star-icon color-default" :class='"value-"+job.rating'>
                        <!-- <div class="label-value">{{job.rating}}</div> -->
                        <div class="star-container" :title='("Company rating is " + job.rating)'>
                          <div class="star">
                            <i class="star-empty"></i>
                            <i class="star-half"></i>
                            <i class="star-filled"></i>
                          </div>
                          <div class="star">
                            <i class="star-empty"></i>
                            <i class="star-half"></i>
                            <i class="star-filled"></i>
                          </div>
                          <div class="star">
                            <i class="star-empty"></i>
                            <i class="star-half"></i>
                            <i class="star-filled"></i>
                          </div>
                          <div class="star">
                            <i class="star-empty"></i>
                            <i class="star-half"></i>
                            <i class="star-filled"></i>
                          </div>
                          <div class="star">
                            <i class="star-empty"></i>
                            <i class="star-half"></i>
                            <i class="star-filled"></i>
                          </div>
                        </div>
                      </div>

                      <transition name="slide-fade">
                        <div v-cloak class="modalShow modal-apply" v-if="apply == job.id">
                          <h2>{{job.name}}</h2>

                          <div class="description content" v-html="job.description"></div>

                          <div class="field is-horizontal">
                            <div class="field-label is-normal">
                              <label class="label">Subject</label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <div class="control">
                                  <input class="input" type="text" v-bind:value="('Application for ' + job.name)">
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="field is-horizontal">
                            <div class="field-label is-normal">
                              <label class="label">Cover Letter</label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <div class="control">
                                  <textarea class="textarea" placeholder="Explain yourself"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="field is-horizontal">
                            <div class="field-label">
                              <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <div class="control">
                                  <button class="button is-primary">
                                    Apply
                                  </button>
                                  <button @click.prevent="closeThis()" class="button is-warning">
                                    Cancel
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </transition>

                      <transition name="slide-fade">
                        <div v-cloak class="modalShow modal-inquire" v-if="inquire == job.id">
                          <h2>Inquire about the <span style="color: #ff3860">{{job.name}}</span> position</h2>
                          <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="Text input">
                            </div>
                          </div>

                          <div class="field">
                            <label class="label">Username</label>
                            <div class="control has-icons-left has-icons-right">
                              <input class="input" type="text" placeholder="Text input" value="bulma">
                              <span class="icon is-small is-left">
                                <i class="fa fa-user"></i>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fa fa-check"></i>
                              </span>
                            </div>
                          </div>

                          <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                              <input class="input" type="email" placeholder="Email input" value="hello@domain.com">
                              <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fa fa-warning"></i>
                              </span>
                            </div>
                          </div>

                          <div class="field">
                            <label class="label">Subject</label>
                            <div class="control">
                              <div class="select">
                                <select>
                                  <option>Select dropdown</option>
                                  <option>With options</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                              <textarea class="textarea" placeholder="Textarea"></textarea>
                            </div>
                          </div>

                          <div class="field">
                            <div class="control">
                              <label class="checkbox">
                                <input type="checkbox">
                                I agree to the <a href="#">terms and conditions</a>
                              </label>
                            </div>
                          </div>

                          <div class="field is-grouped">
                            <div class="control">
                              <button class="button is-primary">Submit</button>
                            </div>
                            <div class="control">
                              <button class="button is-text" @click.prevent="closeThis()">Cancel</button>
                            </div>
                          </div>
                        </div>
                      </transition>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </transition>

          <transition name="slide-fade">
            <div id="profileUser" v-if="profileStatus">
              <div class="profile">
                <div v-for="profile in profileInfo" class="nonEdit" :key="profile.id">

                  <div class="columns profile-container" v-if="!edit">
                    <div class="column is-2">
                      <figure>
                        <img class="user_photo" v-bind:src="profile.photo" alt="Pix" />
                      </figure>
                      <div class="details name"><strong>{{profile.name}}</strong></div>
                      <button class="button is-small is-primary" type="button" name="button" @click.prevent="editProfile(profile.id)">Edit</button>
                    </div>
                    <div class="column is-5">
                      <div class="details email"><strong>Email:</strong> {{profile.email}}</div>
                      <div class="details address"><strong>Address:</strong> {{profile.address}}</div>

                      <div class="skills details">
                        <strong class="label">Skills</strong>
                        <div class="skills__details" v-for="skill in profile.skills">
                            <small>{{skill.technology}}</small>
                            <!-- {{skill.rate}} -->
                            <div class="rating star-icon color-negative" :class='"value-"+skill.rate'>
                              <!-- <div class="label-value">{{job.rating}}</div> -->
                              <div class="star-container" :title='("Skill rating is " + skill.rate)'>
                                <div class="star">
                                  <i class="star-empty"></i>
                                  <i class="star-half"></i>
                                  <i class="star-filled"></i>
                                </div>
                                <div class="star">
                                  <i class="star-empty"></i>
                                  <i class="star-half"></i>
                                  <i class="star-filled"></i>
                                </div>
                                <div class="star">
                                  <i class="star-empty"></i>
                                  <i class="star-half"></i>
                                  <i class="star-filled"></i>
                                </div>
                                <div class="star">
                                  <i class="star-empty"></i>
                                  <i class="star-half"></i>
                                  <i class="star-filled"></i>
                                </div>
                                <div class="star">
                                  <i class="star-empty"></i>
                                  <i class="star-half"></i>
                                  <i class="star-filled"></i>
                                </div>
                                <div class="star">
                                  <i class="star-empty"></i>
                                  <i class="star-half"></i>
                                  <i class="star-filled"></i>
                                </div>
                                <div class="star">
                                  <i class="star-empty"></i>
                                  <i class="star-half"></i>
                                  <i class="star-filled"></i>
                                </div>
                                <div class="star">
                                  <i class="star-empty"></i>
                                  <i class="star-half"></i>
                                  <i class="star-filled"></i>
                                </div>
                                <div class="star">
                                  <i class="star-empty"></i>
                                  <i class="star-half"></i>
                                  <i class="star-filled"></i>
                                </div>
                                <div class="star">
                                  <i class="star-empty"></i>
                                  <i class="star-half"></i>
                                  <i class="star-filled"></i>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="jobs details">
                        <strong class="label">Job History</strong>
                        <div class="job__history" v-for="job in profile.jobs">
                            <h5 class="jobtitle">{{job.title}}</h5>
                            <small class="company">{{job.company}}</small>
                            <small class="year">{{job.year}}</small>
                        </div>
                      </div>
                    </div>
                    <div class="column is-5 profile__bookmark">
                      <div  id="bookmarks" v-cloak>
                          <h2>Job Application History</h2>
                          <i class="emptybookmark" v-if="emptyBookmark">The Bookmark Section is empty</i>

                          <div v-for="(booked,i) in bookMarks" class="jobs columns is-centered" :key="booked.id">
                            <div class="column is-12">
                              <div class="columns">
                                <div class="column is-2">
                                  <img class="company-logo" v-bind:src="booked.logo" alt="">
                                </div>
                                <div class="column">
                                  <h4 class="jobtitle">
                                    {{booked.name}}
                                  </h4>
                                  <p>{{booked.excerpt}}</p>
                                  <strong class="company">{{booked.company}}</strong>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="editing" v-else>

                    <div class="columns  profile-container">

                      <div class="column is-2">
                        <figure>
                          <img class="user_photo" v-bind:src="profile.photo" alt="Pix" />
                        </figure>

                        <div class="field">
                          <p class="control has-icons-left has-icons-right">
                            <input class="input details is-small" type="text" v-model="newValName">
                            <span class="icon is-small is-left">
                              <i class="fa fa-user"></i>
                            </span>
                          </p>
                          <button class="button is-small is-warning" type="button" name="button" @click.prevent="saveProfile()">Save</button>
                          <button class="button is-small is-primary" type="button" name="button" @click.prevent="cancelProfile()">Cancel</button>
                        </div>


                      </div>

                      <div class="column is-3">

                        <div class="details">
                          <div class="field">
                            <label class="label">Email</label>
                            <p class="control has-icons-left has-icons-right">
                              <input type="text" class="input is-small" v-model="newValEmail">
                              <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                              </span>
                            </p>
                          </div>
                        </div>

                        <div class="details">
                          <div class="field">
                            <label class="label">Address</label>
                            <p class="control has-icons-left has-icons-right">
                              <input type="text" class="input is-small" v-model="newValAddress">
                              <span class="icon is-small is-left">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                              </span>
                            </p>
                          </div>
                        </div>

                        <div class="detail">
                          <div class="field">
                            <label class="label">Skills</label>
                            <div class="skills-set" v-for="(skill,i) in profile.skills">
                              <p class="control has-icons-left has-icons-right">
                                <input type="text" name="" class="input is-small" v-model="newTech[i]">
                                <span class="icon is-small is-left">
                                  <i class="fa fa-bolt" aria-hidden="true"></i>
                                </span>
                              </p>
                              <p class="control has-icons-left has-icons-right">
                                <input type="text" name="" class="input is-small" v-model="newRate[i]">
                                <span class="icon is-small is-left">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                              </p>
                            </div>
                          </div>
                        </div>


                        <div class="jobs details">
                          <strong class="label">Job History</strong>
                          <div class="job__history" v-for="(job,i) in profile.jobs">

                              <p class="control has-icons-left has-icons-right">
                                <input type="text" name="" class="input is-small" v-model="newJobTitle[i]">
                                <span class="icon is-small is-left">
                                  <i class="fa fa-cogs" aria-hidden="true"></i>
                                </span>
                              </p>

                              <p class="control has-icons-left has-icons-right">
                                <input type="text" name="" class="input is-small" v-model="newCompany[i]">
                                <span class="icon is-small is-left">
                                  <i class="fa fa-building" aria-hidden="true"></i>
                                </span>
                              </p>

                              <p class="control has-icons-left has-icons-right">
                                <input type="text" name="" class="input is-small" v-model="newJobYear[i]">
                                <span class="icon is-small is-left">
                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                              </p>

                              <!-- <h5 class="jobtitle">{{job.title}}</h5>
                              <small class="company">{{job.company}}</small>
                              <small class="year">{{job.year}}</small> -->
                          </div>
                        </div>

                        <button class="button is-small is-warning" type="button" name="button" @click.prevent="saveProfile()">Save</button>
                        <button class="button is-small is-primary" type="button" name="button" @click.prevent="cancelProfile()">Cancel</button>
                      </div>
                    </div>
                    <!-- <input type="text" name="" v-model="newValName" v-bind:value="profile.name"> -->
                  </div>
                </div>
              </div>
            </div>
          </transition>

          <transition name="slide-fade">
            <div  id="bookmarks" v-if="bookmarkpage" v-cloak >
                <i class="emptybookmark" v-if="emptyBookmark">The Bookmark Section is empty</i>
                <div v-for="(booked,i) in bookMarks" class="jobs columns is-centered" :key="booked.id">
                  <div class="column is-11">
                    <div class="columns">
                      <div class="column logo__container is-one-quarter">
                        <img class="company-logo" v-bind:src="booked.logo" alt="">
                      </div>
                      <div class="column">
                        <h4 class="jobtitle">
                          {{booked.name}}
                        </h4>
                        <p>{{booked.excerpt}}</p>
                        <strong class="company">{{booked.company}}</strong>

                        <div class="actions">
                          <button type="button" name="button" class="button is-small" @click.prevent="showModalApply(booked.id)"><i class="fa fa-smile-o" aria-hidden="true"></i> Apply</button>
                          <button type="button" name="button" class="button is-small" @click.prevent="showModalInquire(booked.id)"><i class="fa fa-envelope" aria-hidden="true"></i> Inquire</button>
                        </div>

                        <div class="rating star-icon color-default" :class='"value-"+booked.rating'>
                          <!-- <div class="label-value">{{job.rating}}</div> -->
                          <div class="star-container" :title='("Company rating is " + booked.rating)'>
                            <div class="star">
                              <i class="star-empty"></i>
                              <i class="star-half"></i>
                              <i class="star-filled"></i>
                            </div>
                            <div class="star">
                              <i class="star-empty"></i>
                              <i class="star-half"></i>
                              <i class="star-filled"></i>
                            </div>
                            <div class="star">
                              <i class="star-empty"></i>
                              <i class="star-half"></i>
                              <i class="star-filled"></i>
                            </div>
                            <div class="star">
                              <i class="star-empty"></i>
                              <i class="star-half"></i>
                              <i class="star-filled"></i>
                            </div>
                            <div class="star">
                              <i class="star-empty"></i>
                              <i class="star-half"></i>
                              <i class="star-filled"></i>
                            </div>
                          </div>
                        </div>

                        <transition name="slide-fade">
                          <div v-cloak class="modalShow modal-apply" v-if="apply == booked.id">
                            <h2>{{booked.name}}</h2>

                            <div class="description" v-html="booked.description"></div>

                            <div class="field is-horizontal">
                              <div class="field-label is-normal">
                                <label class="label">Subject</label>
                              </div>
                              <div class="field-body">
                                <div class="field">
                                  <div class="control">
                                    <input class="input" type="text" v-bind:value="('Application for ' + booked.name)">
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="field is-horizontal">
                              <div class="field-label is-normal">
                                <label class="label">Cover Letter</label>
                              </div>
                              <div class="field-body">
                                <div class="field">
                                  <div class="control">
                                    <textarea class="textarea" placeholder="Explain yourself"></textarea>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="field is-horizontal">
                              <div class="field-label">
                                <!-- Left empty for spacing -->
                              </div>
                              <div class="field-body">
                                <div class="field">
                                  <div class="control">
                                    <button class="button is-primary">
                                      Apply
                                    </button>
                                    <button @click.prevent="closeThis()" class="button is-warning">
                                      Cancel
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </transition>

                        <transition name="slide-fade">
                          <div v-cloak class="modalShow modal-inquire" v-if="inquire == booked.id">
                            <h2>Inquire about the <span style="color: #ff3860">{{booked.name}}</span> position</h2>
                            <div class="field">
                              <label class="label">Name</label>
                              <div class="control">
                                <input class="input" type="text" placeholder="Text input">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Username</label>
                              <div class="control has-icons-left has-icons-right">
                                <input class="input is-success" type="text" placeholder="Text input" value="bulma">
                                <span class="icon is-small is-left">
                                  <i class="fa fa-user"></i>
                                </span>
                                <span class="icon is-small is-right">
                                  <i class="fa fa-check"></i>
                                </span>
                              </div>
                              <p class="help is-success">This username is available</p>
                            </div>

                            <div class="field">
                              <label class="label">Email</label>
                              <div class="control has-icons-left has-icons-right">
                                <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
                                <span class="icon is-small is-left">
                                  <i class="fa fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                  <i class="fa fa-warning"></i>
                                </span>
                              </div>
                              <p class="help is-danger">This email is invalid</p>
                            </div>

                            <div class="field">
                              <label class="label">Subject</label>
                              <div class="control">
                                <div class="select">
                                  <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Message</label>
                              <div class="control">
                                <textarea class="textarea" placeholder="Textarea"></textarea>
                              </div>
                            </div>

                            <div class="field">
                              <div class="control">
                                <label class="checkbox">
                                  <input type="checkbox">
                                  I agree to the <a href="#">terms and conditions</a>
                                </label>
                              </div>
                            </div>

                            <div class="field is-grouped">
                              <div class="control">
                                <button class="button is-link">Submit</button>
                              </div>
                              <div class="control">
                                <button class="button is-text" @click.prevent="closeThis()">Cancel</button>
                              </div>
                            </div>
                          </div>
                        </transition>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </transition>


        </div>
      </div>
    </div>
  </div>
</body>
<script src="assets/js/scripts.js"></script>

</html>
